fastapi
uvicorn[standard]
jinja2
aiofiles
numpy
pandas
requests
python-multipart
openpyxl
python-docx
pymysql
tortoise-orm[aiomysql]
aiomysql
apscheduler
cryptography
redis
py2neo
streamlit
qdrant-client
langchain-text-splitters
pdfplumber
openai
pyyaml
aiohttp
aioredis
